<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex, nofollow">

<title>{{ title }}</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

<style>

    html, body {
        height: 100%;
    }

    .vertical-center {
        min-height: 100%; /* Fallback for browsers do NOT support vh unit */
        min-height: 100vh; /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 60px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: -3.5px;
        color: #162944;
    }

    h2 {
        font-size: 26px;
        line-height: 1.38;
        font-weight: normal;
        letter-spacing: -0.5px;
        color: #162944;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 42px;
        line-height: 1.38;
        font-weight: normal;
        letter-spacing: -0.5px;
        color: #9c9c9c;
        margin-bottom: 20px;
    }

    .helpful-links a {
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: -0.2px;
        color: #224bc5;
        font-weight: 500;
    }
</style>