<ul class="list-unstyled">
    {% for label,url in suggestion_links %}
        <li>
            <a href="{{ url|raw }}">
                {{ label }}
            </a>
        </li>
    {% endfor %}
</ul>